body{
    background-image: url("https://previews.123rf.com/images/kostsov/kostsov2005/kostsov200500070/146736557-play-movie-icon-cinema-projector-on-tropic-leaves-background-online-app-for-watching-tv-series-and-m.jpg");
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: auto;
    padding-left: 60px;

}

#movi{
    padding: 0px;
    padding-left: 20px;
   padding-right: 90px;
   margin-left: 550px;
   margin-top: 20px;
   padding: 5px;
   border-radius: 10px;
 margin-bottom: 30px;
   
   

}


#sea{
    padding: 6px;
}


#movie{
    width: 500px;
    height: 200px;
    margin-left: 1000px;
    margin-top: 30px;
    
}

#new{
    color: aliceblue;

}

#new1{
    color: aliceblue;
     
}
input{
    width: 20%;
}